<!DOCTYPE html>
<html>

    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet"> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="css/stylesLucas.css"></link>  -->
        <link rel="stylesheet" href="css/styles.css"></link>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8">
        <title>Home</title>
    </head>

    <body id="bodyEntero">
        

        <%- include("./partials/header") %>
        
        <main class="cuerpo">
            <div class="stars"></div>
            <section class="video-banner">
            <div class="overlay"></div>
            <div class="container d-flex justify-content-center ph-5 py-2" >
                <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" style="height: 630px" >
                    <source src="/img/Retake-hero-desktop.mp4" type="video/mp4">
                </video>   
            </div>
            <div class="container banner-contenedor h-100">
                <div class="d-flex h-100 text-center align-items-center">
                  <div class="w-100 text-white ">
                    <h1 class="display-1 " style="color: goldenrod;">Spartan Games</h1>
                    <p class="lead mb-0">Tu mejor tienda gaming</p>
                  </div>
                </div>
              </div>
            </section>
            <div class="bg-box">
            <div class="seccionesImg">
                <h4 class="fs-1">Recomendados</h4>
            </div>
            <hr class="productosRelacionados-hr">
            <section class="container">
                <div class="row">
                <% for (let i=0; i<productos.length ; i++){%>
                    <% if (productos[i].category === "Recomendado"){%>
                        <div class="productos col align-self-start" id="box-productos">
                                <a href="/products/detalleDeProducto/<%= productos[i].id%>">
                                    <div class="fotos">
                                        <img src="/img/<%= productos[i].image %>" alt="Coast">
                                    </div>
                                </a>
                                <div class="contDesc">
                                    <div class="precioDesc">
                                        <p class="nombre lead" style="color: goldenrod;"><%= productos[i].name %></p>
                                        <p class="precio lead" style="color: goldenrod;">$ <%= productos[i].price - ((productos[i].discount/100)*productos[i].price) %></p>
                                    </div>
                                </div>
                        </div>
                    <%}%>
                <%}%>
                </div>
              
            </section>
            <div  class="seccionesImg">
                <h4 id="h4-prod-destacados" class="fs-1">Destacados</h4>
            </div>
            <hr class="productosRelacionados-hr">
            <section class="container">
                <div class="row">
                    <% for (let i=0; i<productos.length ; i++){%>
                        <% if (productos[i].category === "Destacado"){%>
                            <div class="productos col align-self-start" id="box-productos">
                                <a href="/products/detalleDeProducto/<%= productos[i].id%>">
                                    <div class="fotos">
                                        <img src="/img/<%= productos[i].image %>" alt="Coast">
                                    </div>
                                </a>
                                <div class="contDesc">
                                    <div class="precioDesc">
                                        <p class="nombre lead" style="color: goldenrod;"><%= productos[i].name %></p>
                                        <p class="precio lead"style="color: goldenrod;">$ <%= productos[i].price - ((productos[i].discount/100)*productos[i].price) %></p>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                            <%}%>
                        </div>
                    </section>
                </div>
            
            </main>
                
        <%- include("./partials/footer") %> 
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <script src="/js/menuHamburguesa.js" async></script>
        <script src="/js/clearLocalStorage.js" async></script>
    </body>

</html>     
