<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="/css/estilos_registro.css">
        <link rel="stylesheet" href="/css/stylesAlan.css">
        <link rel="stylesheet" href="/css/stylesLucas.css">
        <link rel="stylesheet" href="/css/stylesDetalleDeProducto.css"/> -->
        <link rel="stylesheet" href="/css/styles.css"/>
        <title>Formulario Registro</title>
    </head>
    <body>


        <%- include("../partials/header") %>
    <main>
        

        <div class="box">
            <img src="/img/<%= user.image %>" alt="" class="box-img">
            <h1>Nombre: <%= user.nombre %></h1>
            <h5>E-mail:  <%= user.email %></h5>
        
        </div>

        <a class="btn btn-outline-success btn-lg cerrarSesion" id="boton-cerrarsesion" href="/users/logout" type="button">Cerrar Sesión</a>
    </main>

     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
    <%- include("../partials/footer") %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="/js/menuHamburguesa.js" async></script>
    <script src="/js/guardarUsuario.js" async></script>
    
    </body>

</html>